.first {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 500px;
}
.second {
    width: 100%;
    object-fit: cover;
    display: flex;
    transition: transform 0.7s ease-in-out;
}
.third{
    /* object-fit: cover; */
    height: 500px;
    min-width: 100%
}

.third img{
    height: 100%;
    width: 100%; 
    object-fit: cover;
}


.buttons {
    position: absolute;
    bottom: 0px; /* Changed from top: 50% */
    left: 90%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    gap:10px;
    padding: 0 20px;
}

.left, .right {
 
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.left:hover, .right:hover {
    background-color: rgba(255, 255, 255, 1);
}